services:
  php:
    build:
      context: .
      dockerfile: .docker/php/Dockerfile
      target: prod
    container_name: php.${APP_NAMESPACE}
    ports:
      - '${APP_PORT}:8000'
    volumes:
      - .:/app
    networks:
      - app
