---
- name: Install required packages
  ansible.builtin.apt:
    name:
      - apt-transport-https
      - ca-certificates
      - curl
      - software-properties-common
      - gnupg
      - make
      - git
      - nginx
      - socat
      - certbot
      - python3-certbot-nginx
    state: present
    update_cache: yes
